<b>Partlist exported from D:/Projects/lavalamp/eagle/lavalamp_col_scanning_revc.sch at 8/12/2012 10:40:32 PM</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Parts</b></td></tr>
<tr><td>2</td><td></td><td>M06SIP</td><td>CONTROL_IN, CONTROL_OUT</td></tr>
<tr><td>1</td><td></td><td>M081X08</td><td>OUT</td></tr>
<tr><td>2</td><td></td><td>R0603</td><td>R1, R2</td></tr>
<tr><td>8</td><td>10K</td><td>R0402</td><td>R3, R4, R5, R6, R7, R8, R9, R10</td></tr>
<tr><td>3</td><td>10uF</td><td>C0603</td><td>C1, C2, C3</td></tr>
<tr><td>1</td><td>4094D</td><td>4094D</td><td>4094</td></tr>
<tr><td>8</td><td>MOSFET-AO6602L-NP_TSOP6</td><td>MOSFET-AO6602L-NP_TSOP6</td><td>FET1, FET2, FET3, FET4, FET5, FET6, FET7, FET8</td></tr>
</table>
