<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Parts</b></td></tr>
<tr><td>4</td><td></td><td>LEDCHIPLED_0805</td><td>3.3V, 5V, DBG1, DBG2</td></tr>
<tr><td>1</td><td></td><td>M02LOCK</td><td>AUDIO_OUT</td></tr>
<tr><td>2</td><td></td><td>M02POLAR</td><td>PWR_IN, PWR_SW</td></tr>
<tr><td>3</td><td></td><td>M02POLAR_LOCK</td><td>BUTTON1, BUTTON2, BUTTON3</td></tr>
<tr><td>1</td><td></td><td>M03LOCK</td><td>AUDIO_IN</td></tr>
<tr><td>3</td><td></td><td>R0603</td><td>R5, R6, R7</td></tr>
<tr><td>1</td><td></td><td>V_REG_LM1117SOT223</td><td>IC1</td></tr>
<tr><td>2</td><td>0</td><td>R0603</td><td>R4, R8</td></tr>
<tr><td>1</td><td>0</td><td>R0805</td><td>R3</td></tr>
<tr><td>1</td><td>0.01uF</td><td>C0603</td><td>C6</td></tr>
<tr><td>5</td><td>0.1uF</td><td>C0603</td><td>C2, C3, C7, C11, C14</td></tr>
<tr><td>1</td><td>1K</td><td>R0603</td><td>R10</td></tr>
<tr><td>2</td><td>1uF</td><td>C0603</td><td>C10, C13</td></tr>
<tr><td>2</td><td>5POS_TERMINAL_254MM_THRU</td><td>5POS_TERMINAL_254MM_THRU</td><td>PROG, PROG1</td></tr>
<tr><td>2</td><td>8POS_TERMINAL_254MM_2R_THRU_ALT</td><td>8POS_TERMINAL_254MM_2R_THRU_ALT</td><td>COLSELECT_OUT, PIC1_EXP</td></tr>
<tr><td>9</td><td>10K</td><td>R0603</td><td>R1, R2, R13, R14, R15, R16, R17, R18, R19</td></tr>
<tr><td>1</td><td>10POS_TERMINAL_254MM_2R_THRU_ALT</td><td>10POS_TERMINAL_254MM_2R_THRU_ALT</td><td>LED_OUT</td></tr>
<tr><td>3</td><td>10uF</td><td>C0603</td><td>C8, C9, C12</td></tr>
<tr><td>2</td><td>10uF</td><td>C0805</td><td>C4, C5</td></tr>
<tr><td>7</td><td>10uF</td><td>C_TH_SMALL</td><td>C1, C15, C16, C17, C18, C19, C20</td></tr>
<tr><td>1</td><td>25LC1024</td><td>25LC080SN</td><td>EEPROM</td></tr>
<tr><td>3</td><td>390</td><td>R0603</td><td>R9, R11, R12</td></tr>
<tr><td>1</td><td>AUDIO_YM2149_DIL</td><td>AUDIO_YM2149_DIL</td><td>U$10</td></tr>
<tr><td>1</td><td>BOARD_MAPLE_BASE</td><td>BOARD_MAPLE_BASE</td><td>U$1</td></tr>
<tr><td>1</td><td>BOARD_MAPLE_EXTRA</td><td>BOARD_MAPLE_EXTRA</td><td>U$2</td></tr>
<tr><td>1</td><td>BOARD_WIXEL</td><td>BOARD_WIXEL</td><td>U$4</td></tr>
<tr><td>2</td><td>DSPIC33FJ128GP802</td><td>DSPIC33FJ128GP802</td><td>AUDIO_PIC, SPECTRUM_PIC</td></tr>
<tr><td>2</td><td>OPAMP_AD8033_SOIC8</td><td>OPAMP_AD8033_SOIC8</td><td>AIN_AMP, VOLUME_AMP</td></tr>
<tr><td>1</td><td>OSCILLATORSMD6</td><td>OSCILLATORSMD6</td><td>OSC_2MHZ</td></tr>
<tr><td>1</td><td>POT_DS1804_SOIC8</td><td>POT_DS1804_SOIC8</td><td>VOLUME_POT</td></tr>
<tr><td>1</td><td>USD-SOCKETNEW</td><td>USD-SOCKETNEW</td><td>U1</td></tr>
<tr><td>1</td><td>XBEE-1B1</td><td>XBEE-1B1</td><td>WIFI</td></tr>
</table>
